@import "../../assets/stylus/variables.styl";

.main-wrap
  width 100%
  .number-tab
    padding-bottom 20px
  .count-number
    font-size 40px
    font-weight bold
    padding-left 30px
  .label-main
    background RGBA(27, 160, 148, 1.00)
    color #ffffff
    font-size 14px
    border-left 5px solid RGBA(27, 160, 148, 1.00)
    padding 6px 0
    margin 0 0 15px 0