html
  height 100%
body
  font-size 14px
  margin 0
  height 100%
.el-submenu .el-menu-item
  min-width 160px
.el-menu-item.is-active
  background-color #252F45 !important
.el-menu-item-group__title
  padding 0
// 报告预览抽屉样式
.pdf-drawer
  height 100%
  width 100%
  display flex
  flex-direction row
  justify-content center
  align-items center
  .embed-sty
    width 476px
    height 668px